
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<nav class="navbar navbar-light custom-bg">
    <div class="container-fluid d-flex justify-content-center">
        <a href="https://facebook.com" target="_blank" class="text-white mx-2">
            <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="https://twitter.com" target="_blank" class="text-white mx-2">
            <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="https://instagram.com" target="_blank" class="text-white mx-2">
            <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a href="https://youtube.com" target="_blank" class="text-white mx-2">
            <i class="fab fa-youtube fa-2x"></i>
        </a>
        <a href="https://tiktok.com" target="_blank" class="text-white mx-2">
            <i class="fab fa-tiktok fa-2x"></i>
        </a>
    </div>
</nav>


