/* Estilo general de la cabecera */
.page-header {
    background-image: url('../../../assets/hosanacarrusel1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Ajuste del tamaño del encabezado */
.page-header h1 {
    font-size: 2.5rem; /* Tamaño de fuente por defecto */
    font-weight: bold;
}

/* Estilo para la barra de navegación */
.page-header nav {
    font-size: 1rem;
}

/* Estilo del contenedor de la sección de texto */
.text-container {
    padding: 20px;
}

/* Estilo de las estadísticas */
.fact-item {
    transition: .5s;
    border: 3px solid #078cca;
    color: rgb(255, 255, 255);
    background: #078cca;
}

.fact-item:hover {
    margin-top: -10px;
    background: #056b99 !important;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

/* Animación de contador */
.fact-item h1 {
    font-size: 3rem;
    font-weight: bold;
    animation: count-up 3s ease-in-out forwards;
}

/* Responsividad */
@media (max-width: 768px) {
    .page-header h1 {
        font-size: 2rem; /* Reducción del tamaño del título en pantallas pequeñas */
    }

    /* Cambiar el layout para pantallas más pequeñas */
    .container-xxl {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* Colocar texto y carrusel uno debajo del otro */
    .row.g-4 {
        flex-direction: column; /* Alineación vertical */
    }

    .col-lg-6, .col-md-6 {
        width: 100%; /* Hacer que los elementos ocupen todo el ancho */
    }

    /* Ajustes al carrusel */
    .carousel-item img {
        width: 100%; /* Asegura que las imágenes del carrusel ocupen todo el ancho del contenedor */
    }

    /* Ajustes al texto */
    .text-container p {
        font-size: 1rem; /* Ajuste de tamaño de fuente para móviles */
    }
}

@media (max-width: 576px) {
    /* Estilo específico para pantallas muy pequeñas */
    .page-header h1 {
        font-size: 1.5rem; /* Ajustar tamaño de fuente para pantallas pequeñas */
    }

    .fact-item h1 {
        font-size: 2rem; /* Ajuste de tamaño para los contadores */
    }

    /* Ajustar las imágenes del carrusel */
    .carousel-item img {
        height: 200px; /* Limitar la altura de las imágenes en dispositivos pequeños */
    }

    .fact-item {
        padding: 10px; /* Reducir el padding para pantallas pequeñas */
    }
}
