.card {
    transition: all 0.3s ease-in-out;
  }

  /* Efecto hover para las cards */
  .card:hover {
    transform: translateY(-10px); /* Subir ligeramente */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Sombras más intensas */
  }

  /* Sombras de las cards */
  .shadow-lg {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.100); /* Sombra suave */
  }

  /* Bordes redondeados */
  .rounded {
    border-radius: 10px; /* Bordes redondeados */
  }

  /* Estilo del botón */
  .btn-primary {
    background-color: #007bff; /* Azul más intenso */
    border: none;
    transition: background-color 0.3s ease;
  }

  /* Efecto hover en el botón */
  .btn-primary:hover {
    background-color: #b8671b; /* Azul oscuro */
  }