<div class="row">
    <div class="col-md-4">
      <div class="card shadow-lg rounded">
        <div class="card-body">
          <h5 class="card-title">COLEGIO</h5>
          <p class="card-text">Descubre nuestras ofertas Educativas</p>
          <a href="#" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-lg rounded">
        <div class="card-body">
          <h5 class="card-title">PARROQUIA</h5>
          <p class="card-text">Conoce nuestras actividades espirituales</p>
          <a href="#" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow-lg rounded">
          <div class="card-body">
            <h5 class="card-title">Academia</h5>
            <p class="card-text">Explora nuestros cursos y talleres.</p>
            <a href="#" class="btn btn-primary">Ver más</a>
          </div>
        </div>
    </div>      
</div>